.vbt-simple-layout {
  border: 24px solid #fff;
  display: flex;
  width: 100%;

  .layout {
    background-color: #fff;
    display: flex;
    width: 40%;
  }

  .layout-bg {
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    border-radius: 24px 0 0 24px;
    width: 60%;
  }

  .layout-content {
    margin: auto 0;
    width: 100%;
  }

  .layout-footer {
    bottom: 0;
    font-size: smaller;
    position: absolute;
    text-align: center;
    width: 40%;
  }

  .layout-header {
    position: absolute;
    top: 0;
    width: 40%;

    .layout-header-img {
      display: flex;
      padding: 24px 0;
      width: 100%;
    }
  }

  .layout-header-img > img {
    margin: auto;
    width: 180px;
  }

  .layout-redirect-buttons {
    padding: 24px;

    a:not(:last-child) {
      margin-right: 16px;
    }
  }
}
